services:
  snippet-manager:
    image: ghcr.io/ingsis-second-chance/snippet-manager:latest
    container_name: snippet-manager
    ports:
      - "9000:8081"
    depends_on:
      - db-snippet
      - redis
    environment:
      - SPRING_DATASOURCE_URL=${SNIPPET_DB_URL}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - PRINT_SCRIPT_SERVICE_URL=${PRINT_SCRIPT_SERVICE_URL}
      - PERMISSIONS_SERVICE_URL=${PERMISSIONS_SERVICE_URL}
      - BUCKET_SERVICE_URL=${BUCKET_SERVICE_URL}
      - AUTH0_AUDIENCE=${AUTH0_AUDIENCE}
      - AUTH0_SERVER_URI=${AUTH0_SERVER_URI}
      - AUTH0_CLIENT_ID=${AUTH0_CLIENT_ID}
      - AUTH0_CLIENT_SECRET=${AUTH0_CLIENT_SECRET}
      - STREAM_LINT_KEY=${STREAM_LINT_KEY}
      - STREAM_FORMAT_KEY=${STREAM_FORMAT_KEY}
      - STREAM_STATUS_KEY=${STREAM_STATUS_KEY}
      - STREAM_CONSUMER_GROUP_SNIPPET=${STREAM_CONSUMER_GROUP_SNIPPET}
      - REDIS_HOST=${REDIS_HOST}
      - NEW_RELIC_LICENSE_KEY=${NEW_RELIC_LICENSE_KEY}
      - NEW_RELIC_APP_NAME=${NEW_RELIC_APP_NAME_SNIPPET}
      - JAVA_TOOL_OPTIONS=${JAVA_TOOL_OPTIONS}
    volumes:
      - ./newrelic:/newrelic
    networks:
      - snippet_network
    restart: unless-stopped

  db-snippet:
    image: postgres:latest
    container_name: db-snippet
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_DB=${SNIPPET_DB_NAME}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    volumes:
      - postgres_data_snippets:/var/lib/postgresql
    networks:
      - snippet_network
    restart: unless-stopped

  print-script-manager:
    image: ghcr.io/ingsis-second-chance/print-script-manager:latest
    container_name: print-script-manager
    depends_on:
      - redis
    ports:
      - "3000:8082"
    environment:
      - BUCKET_SERVICE_URL=${BUCKET_SERVICE_URL}
      - AUTH0_AUDIENCE=${AUTH0_AUDIENCE}
      - AUTH0_SERVER_URI=${AUTH0_SERVER_URI}
      - AUTH0_CLIENT_ID=${AUTH0_CLIENT_ID}
      - AUTH0_CLIENT_SECRET=${AUTH0_CLIENT_SECRET}
      - STREAM_LINT_KEY=${STREAM_LINT_KEY}
      - STREAM_FORMAT_KEY=${STREAM_FORMAT_KEY}
      - STREAM_STATUS_KEY=${STREAM_STATUS_KEY}
      - STREAM_CONSUMER_GROUP_SNIPPET=${STREAM_CONSUMER_GROUP_SNIPPET}
      - REDIS_HOST=${REDIS_HOST}
      - NEW_RELIC_LICENSE_KEY=${NEW_RELIC_LICENSE_KEY}
      - NEW_RELIC_APP_NAME=${NEW_RELIC_APP_NAME_PRINTSCRIPT}
      - JAVA_TOOL_OPTIONS=${JAVA_TOOL_OPTIONS}
    volumes:
      - ./newrelic:/newrelic
    networks:
      - snippet_network
    restart: unless-stopped

  permissions-manager:
    image: ghcr.io/ingsis-second-chance/permissions-manager:latest
    container_name: permissions-manager
    ports:
      - "5000:8083"
    depends_on:
      - db-permissions
    environment:
      - SPRING_DATASOURCE_URL=${PERMISSIONS_DB_URL}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - AUTH0_AUDIENCE=${AUTH0_AUDIENCE}
      - AUTH0_SERVER_URI=${AUTH0_SERVER_URI}
      - AUTH0_CLIENT_ID=${AUTH0_CLIENT_ID}
      - AUTH0_CLIENT_SECRET=${AUTH0_CLIENT_SECRET}
      - AUTH0_AUDIENCE_API=${AUTH0_AUDIENCE_API}
      - NEW_RELIC_LICENSE_KEY=${NEW_RELIC_LICENSE_KEY}
      - NEW_RELIC_APP_NAME=${NEW_RELIC_APP_NAME_PERMISSIONS}
      - JAVA_TOOL_OPTIONS=${JAVA_TOOL_OPTIONS}
    volumes:
      - ./newrelic:/newrelic
    networks:
      - snippet_network
    restart: unless-stopped

  db-permissions:
    image: postgres:latest
    container_name: db-permissions
    ports:
      - "5433:5432"
    environment:
      - POSTGRES_DB=${PERMISSIONS_DB_NAME}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    volumes:
      - postgres_data_permissions:/var/lib/postgresql
    networks:
      - snippet_network
    restart: unless-stopped

  asset-service:
    container_name: asset-service
    image: ghcr.io/austral-ingsis/snippet-asset-service:latest
    ports:
      - "4000:8080"
    environment:
      - AZURE_HOST=${AZURE_HOST}
      - NEW_RELIC_APP_NAME=${NEW_RELIC_APP_NAME_ASSET}
      - NEW_RELIC_AGENT_ENABLED=${NEW_RELIC_AGENT_ENABLED}
    networks:
      - snippet_network
    restart: unless-stopped

  azurite:
    image: mcr.microsoft.com/azure-storage/azurite
    container_name: azurite
    hostname: azurite
    ports:
      - "10000:10000"
      - "10001:10001"
      - "10002:10002"
    volumes:
      - blob:/workspace
    networks:
      - snippet_network
    restart: unless-stopped

  redis:
    image: redis:latest
    container_name: redis
    ports:
      - "6379:6379"
    networks:
      - snippet_network
    restart: unless-stopped

  ui-service:
    image: ghcr.io/ingsis-second-chance/printscript-ui:latest
    container_name: ui-service
    networks:
      - snippet_network
    restart: unless-stopped

  proxy:
    image: nginx:latest
    container_name: proxy
    depends_on:
      - snippet-manager
      - print-script-manager
      - permissions-manager
      - asset-service
      - azurite
      - redis
      - ui-service
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.prod.conf:/etc/nginx/nginx.conf:ro
      - /etc/letsencrypt:/etc/letsencrypt:ro
    networks:
      - snippet_network
    restart: unless-stopped

networks:
  snippet_network:
    driver: bridge

volumes:
  postgres_data_snippets:
  postgres_data_permissions:
  blob:
    external: true